<main>


<article class="rant-item form">
  <header class="rant-header">
    <div class="rant-header-title">
      {{input autofocus="true" placeholder="Rant Title" type="text" value=rantTitle}}
    </div>
    <div class="rant-header-actions">
      <button {{action 'newRant'}} class="button button-primary">
        <span class="fa fa-send"> Rant</span>
      </button>
        <button class="button button-default">
          <span class="fa fa-times-circle-o"> Cancel</span>
        </button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div>
      {{gravatar-image email=session.email class='author-photo'}}
      <h5></h5>
      <h6></h6>
    </div>
    <div {{bind-attr class= "rantLongEnough:long:short"}}>
      {{rantContent.length}}  / 144 characters
      {{#if rantShort}}
        <p class="error-message">
          Your rant needs to be at least 144 Characters!
        </p>
      {{/if}}
      {{#if rantShort}}
        <p class="error-message">
          You need a title!
        </p>
      {{/if}}
    </div>
  </aside>

  <section class="rant-item-content">
    {{textarea placeholder="Start your rant." min = "144" value=rantContent}}
  </section>
</article>
</main>
