<nav>
  <div class="nav-wrapper rantly-blue valign-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down valign">
        <li>{{#link-to 'rants' class="brand-logo"}}Rantly{{/link-to}}</li>
        {{#if session.isAuthenticated}}
        {{else}}
        <li>{{#link-to 'rants.signup'}}Signup{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'rants'}}Rants{{/link-to}}</li>
    </ul>

    </div>
  </nav>
  <section class="content">
    <aside class="rants-navigation">
      <div>
        <div class="rant-search">
          {{input class="rant-search-field" value=search placeholder="Search" type="search" action="query"}}
        </div>
    </div>
    <div >

    <form class="login-form" {{action 'authenticate' on='submit'}}>
      {{#if session.isAuthenticated}}
      <h4 class="hero">Hi {{session.user_first_name}}</h4>
      {{else}}
        <div class="form-group">
          {{input id='identification' placeholder='Enter Email' value=identification}}
          <label class="login-field-icon" for="identification"><i class="fa fa-user"></i></label>
        </div>

        <div class="form-group">
          {{input id='password' placeholder='Enter Password' type='password' value=password}}
          <label class="login-field-icon"for="password"><i class="fa fa-lock"></i></label>
        </div>
      {{/if}}
      {{#if session.isAuthenticated}}
          <div class="login-photo">
            <div class="author">
              {{gravatar-image email=session.email size=250 class='author-photo'}}
            </div>
          </div>
        <button class="button button-primary button-lg button-block" {{action 'invalidateSession'}}>Sign Out</button>
      {{else}}
        <button class="button button-primary button-lg button-block" type='submit'>Sign In</button>
      {{/if}}

    </form>

  </div>
</aside>

<header class="app-inner-header">
  {{#if session.isAuthenticated}}
      {{#link-to 'rants.new'}}
    <button class="button button-invert">
        New Rant
    </button>
      {{/link-to}}
  {{/if}}
</header>
  {{outlet}}
</section>
