<nav>
  <div class="nav-wrapper rantly-blue">
    <a href="" class="brand-logo">
      {{#link-to 'rants'}}
      Rantly
      {{/link-to}}
    </a>
    </div>
  </nav>
  <section class="content">
    <aside class="rants-navigation">
      <div>
        <div class="rant-search">
          {{input class="rant-search-field" placeholder="Search" type="search"}}
        </div>
    </div>
    <div >

    <form class="login-form" {{action 'authenticate' on='submit'}}>
      {{#if session.isAuthenticated}}
      {{else}}
        <div class="form-group">
          {{input id='identification' placeholder='Enter Email' value=identification}}
          <label class="login-field-icon" for="identification"><i class="fa fa-user"></i></label>
        </div>

        <div class="form-group">
          {{input id='password' placeholder='Enter Password' type='password' value=password}}
          <label class="login-field-icon"for="password"><i class="fa fa-lock"></i></label>
        </div>
      {{/if}}
      {{#if session.isAuthenticated}}
        <button class="button button-primary button-lg button-block" {{action 'invalidateSession'}}>Logout</button>
      {{else}}
        <button class="button button-primary button-lg button-block" type='submit'>Login</button>
      {{/if}}

    </form>

  </div>
</aside>

<header class="app-inner-header">
  {{#if session.isAuthenticated}}
    <button class="button button-invert">
      {{#link-to 'rants.new'}}
        New Rant
      {{/link-to}}
    </button>
  {{/if}}
</header>


  {{outlet}}
</section>
