<nav>
  <div class="nav-wrapper rantly-blue">
    <a href="" class="brand-logo">Rantly</a>
    </div>
  </nav>
  <section class="content">
    <aside class="rants-navigation">
      <div>
        <div class="rant-search">
          {{input class="rant-search-field" placeholder="Search" type="search"}}
        </div>
    </div>
    <div >

    <form class="login-form" {{action 'authenticate' on='submit'}}>
    <div class="form-group">
      {{input id='identification' placeholder='Enter Email' value=identification}}
      <label for="identification"></label>
    </div>

    <div class="form-group">
      {{input id='password' placeholder='Enter Password' type='password' value=password}}
      <label for="password"></label>
    </div>

      {{#if session.isAuthenticated}}
        <button class="button button-primary button-lg button-block" {{action 'invalidateSession'}}>Logout</button>
      {{else}}
      <button class="button button-primary button-lg button-block" type='submit'>Login</button>
      {{/if}}
    </form>

  </div>
</aside>

<header class="app-inner-header">
  <a href="/new">
    <button class="button button-invert">New Rant</button>
  </a>
</header>


  {{outlet}}
</section>
